@import '~@/stylus/mixins'

h2
  font-size 20px
  line-height 24px
  padding 15px 24px
  color darker

.content-wrapper
  padding-top 0
  margin 25px 40px
  background #ffffff
  overflow-y auto
  flex-grow 0

.form-wrapper
  width 100%
  padding-left 64px
  padding-top 16px
  border-top 1px solid #f1f1f1
  border-bottom 1px solid #f1f1f1
  .field
    width 528px
  .field-package
    width 620px

.start-time
  margin-right 6px

.end-time
  margin-left 6px

.field-group
  padding 24px 0
  border-bottom 1px solid #f1f1f1

.textarea
  height 72px

.select-wrapper
  width 100px
  height 32px
  margin-right 30px

.img-wrapper
  width 401px
  height 192px
  overflow hidden
  img
    width 100%

.upload-img
  width 401px
  height 192px
  text-align center
  border 1px dashed #f1f1f1
  border-radius 2px
  background #fbfbfb
  padding-top 122px
  display block
  color placeholder
  position relative
  cursor pointer
  .img-wrapper
    position absolute
    top 0
    left 0
  &::before
    content ''
    display block
    position absolute
    width 40px
    height 30px
    background getImage('cloud-upload.svg') no-repeat center center
    top 79px
    left 50%
    margin-left -15px
  + input
    display none

.select-item
  display flex
  justify-content center
  align-items center
  position relative
  width 100%
  height 64px
  border 1px solid #e5e5e5
  text-align center
  color darker
  user-select none
  cursor pointer
  line-height 62px
  border-radius 2px
  &:hover
    .add-button
      background-color primary
  .select-item-title
    margin-left 8px
    font-size 13px

.package-price
  width: 150px

.selected-item
  display flex
  padding 12px
  border: 1px solid #e5e5e5
  border-radius 2px
  background #ffffff
  margin-bottom 8px
  position relative
  .item-image
    margin-right 12px
    width 40px
    height 40px
  .item-title
    font-size 13px
    line-height 16px
    color darker
    margin 3px 0
    word-break break-all
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  .item-code
  .item-price
    font-size 12px
    line-height 16px
    color lightGrey
  .item-price
    color darker
    font-weight bold
.delete-icon
  position absolute
  right 16px
  width 16px
  height 16px
  top 50%
  margin-top -8px
  cursor pointer
  background getImage('trash.svg') no-repeat center center
  &:hover
    background-image getImage('trash-hover.svg')
.field-package
  .item-content
    width 204px
    border-right 1px solid line
.item-content-input
  .item-content-label
    font-size 12px
    line-height 16px
    margin-right 16px
  .control
    width 72px
  align-items center
  display flex
  padding-left 24px
  .label
    flex 0 0 48px
    margin-right 16px
.btn-wrapper
  padding 23px 180px 0
  .button
    width 120px

// 创建商品
.materials-wrapper.field
  width 760px
  margin-top 18px
.materials-item
  width 640px
  padding 12px 16px
  display flex
  flex-direction row
  border 1px solid #e5e5e5
  border-radius 2px
  position relative
  margin-bottom 8px
  &:hover
    box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.08)
  .material-title
    width 390px
    padding-left 0
    .control
      width 340px
  .material-price
    .control
      width 95px
  .add-button
    position absolute
    top 50%
    transform translateY(-50%)
    right -40px

