.modal-header
  position relative
  padding 24px
  border-bottom 1px solid line
  .close-button
    position absolute
    top 50%
    right 24px
    transform translateY(-50%)
    width 20px
    height 20px
    background center no-repeat url('~@/assets/modal/close.svg')
    background-size 100%
    cursor pointer

.modal-card-title
  font-size 20px
  line-height 24px
  color darker

.modal-footer
  position relative
  padding 16px 24px
  border-top 1px solid line
  overflow hidden
  .button,
  .cancel-button
    width 104px
    float right
  .button
    margin-left 8px
  .cancel-button
    font-size 14px
    line-height 40px
    height 40px
    text-align center
    color lightGrey
    cursor pointer
