.service-ticket-wrapper
  position relative
  padding 0 40px
.serivce-ticket-item
  position relative
  padding-top 24px
  min-height 88px
  font-size 13px
  line-height 16px
  border-bottom 1px solid line
  &:last-child
    border-bottom none
  & > .label
    position absolute
    top 24px
    left 0
    width 124px
    height 16px
    padding-left 32px
    color darker
    &::before
      content ''
      position absolute
      left 0
      top 0
      width 18px
      height 18px
      background center no-repeat
      background-size 100%
    &.service::before
      background-image url('~@/assets/service-ticket/service-ticket-item.svg')
    &.material::before
      background-image url('~@/assets/service-ticket/service-ticket-materials.svg')
    &.time::before
      background-image url('~@/assets/service-ticket/service-ticket-time.svg')
    &.store::before
      background-image url('~@/assets/service-ticket/service-ticket-store.svg')
    &.client::before
      background-image url('~@/assets/service-ticket/service-ticket-client.svg')
  & > .content
    padding-left 124px
    .price-info
      float right
      width 88px
      padding-left 16px
      border-left 1px solid line
    .price-label
      float right
      margin-right 16px
    .multi-content-td
      line-height 16px
      .left-image
        margin-top 1px
      .content-item
        margin-top 6px
      & + .content-divider
        margin 0 10px
        &::after
          content ''
          position relative
          display inline-block
          border-left 1px solid #ddd
          height 37px
          top 4px
          left 6px
          transform rotate(20deg)

.extra-info
  float right
  .multi-content-td
    margin-top 6px
    line-height 16px
    .left-image
        margin-top 1px
      .content-item
        margin-top 6px
  .ticket-invalid-tip
    position relative
    padding-left 24px
    font-size 14px
    line-height 48px
    &::before
      content ''
      position absolute
      top 50%
      left 0
      transform translateY(-50%)
      width 16px
      height 16px
      background center no-repeat url('~@/assets/service-ticket/error.svg')
      background-size 100%

.serivce-main-info-wrapper
  position relative
  display inline-block
  padding-left 16px
  line-height 24px
  margin-bottom 24px
  &::before
    content ''
    position absolute
    top 50%
    left 0
    transform translateY(-50%)
    margin-top 2px
    height 36px
    border-left 2px solid primary
  .label
    color lightGrey
    font-size 12px
  .content
    color darker
    font-size 16px

.service-item-detail
  display inline-block
  position relative
  padding-left 56px
  line-height 16px
  .title
    font-size 13px
    color darker
    margin-bottom 6px
  .description
    font-size 12px
    color lightGrey
  .item-image
    position absolute
    top 0
    left 0
    width 40px
    height 40px
    border 1px solid line
    border-radius borderRadius
    background-color lightGrey
    overflow hidden
    img
      width 100%
      height 100%

.material-item
  margin-bottom 8px
  .index
    display inline-block
    width 56px
    color lightGrey
