.slide-layout
  padding 0 32px
  // padding-top 90px
  height 100%
  overflow-y auto
  .field
    margin-top 24px
  .field-group.is-horizontal
    .control
      min-width 150px
  .button
    width 100%
    margin-bottom 20px
.slide-title
  // position absolute
  // top 0
  // left 0
  // padding 0 32px
  padding-top 38px
  padding-bottom 20px
  width 100%
  font-size 24px
  line-height 32px
  background-color #fff
  z-index 1
.slide-section-title
  margin-top 32px
  font-size 14px
  font-weight bold
  line-height 24px
  color darker
