@import 'modules/reset.styl'
@import 'modules/base.styl'

// flatpickr
@import '~flatpickr/src/style/flatpickr.styl'

// app
@import './mixins'
@import 'modules/generics.styl'
@import 'modules/form.styl'

//components
@import 'modules/date-picker.styl'
@import 'modules/table.styl'
@import 'modules/modal.styl'
@import 'modules/slide-out-modal.styl'
@import 'modules/service-ticket.styl'
@import 'modules/data-picker.styl'
@import 'modules/select.styl'
